nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 71px;
    align-items: center;
    background-color: #1f7dd4d7;
    
}

.nav-items{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   width: 70%;
}
.text-white {
    color: white;
}

.hero {
    background-image: url(../images/hero-bg.jpg);
    height: 100vh;
    /* background-position:center ; */
    background-size: cover;
    text-align: center;
   
}
/* .tracking-in-expand { */
/* -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; */
	        /* animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; */
	
/* } */
